*{ 
    box-sizing: border-box;
}
/*genericos*/
/*reset*/
html, body, h1, h2, h3, ul{
    padding: 0%;
    margin: 0%;
}
/*tipo*/
body {
    background-color: #eeeeee;
}

a{
    text-decoration: none;
    color: #380716;
}

/*de clase*/
.cabecera-principal{
    width: 100%;
    height: 80px;
    background-color: lightslategray;
    padding: 5px 10px 20px 10px;
    border-bottom: 2px solid #222222;
}
.cabecera-principal nav{
    background-color: grey;
}

.contenido-principal{
    padding: 10px 20px;
}
.contenido-principal form{
    display: block;
    
}

.pie-principal{
    background-color: lightslategray;
    padding: 10px;
    width: 100%;
    height: 100px;
}